*{
  box-sizing: border-box;
}

body{
  background-color: rgb(45,20,33);
}

/* ----------- Main Container ------------- */
.container{
  width: 700px;
  background-color: rgba(0,0,0,0.3);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 100px;
  box-shadow: 15px 15px 25px 5px black;
}

/* --------------- Header (Title) styling --------------- */
.header{
  background-color: rgb(119,5,51);
  height: 100px;
  width: 100%;
  color: white;
  padding-top: 5px;
}

/* Header text */
.header h2{
  text-align: center;
  font-size: 32px;
  font-family: Arial;
}

/* --------------- Player container -------------- */
.players{
  background-color: black;
  height: 100px;
  padding: 30px 20px;
  border: 3px solid rgb(119,5,51);
  font-family: verdana;
}

.name{
  position: relative;
  bottom: 15px;
  color: white;
  font-size: 24px;
}


/* ------------- Counter container (btns, score) ------------- */
.counter{
  width: 175px;
  height: 70px;
  display: flex;
  flex-direction: row;
  float: right;
  position: relative;
  bottom: 40px;
}

/* Score container */
.score{
  width: 60px;
  height: 60px;
  background-color: rgb(45,20,33);
  text-align: center;
  padding-top: 23px;
  color: white;
}

/* Buttons */
.increment, .decrement{
  height: 60px;
  width: 50px;
}

/* ------------- Add Player ------------- */

.formContainer{
  margin-right: 40px;
  position: absolute;
  top: 125px;
  left: 67%;
}


.addPlayerForm input{
   width: 175px;
   height: 25px;
   border-radius: 5px;
}

.addPlayerBtn button{
  position: relative;
  width: 175px;
  height: 20px;
}

/* ------------- Remove Player button ------------- */
.removeBtn{
 position: relative;
 bottom: 5px;
 height: 20px;
 width: 60px;
 background-color: red;
}


/* ----------- Dashboard container ----------- */

.inner-container{
  background-color: black;
  height: 100px;
}


/* ------------- Statistics --------------- */
table{
  color: white;
  font-size: 18px;
  margin-left: 70px;
  position: relative;
  top: 20px;
  font-family: verdana;
}


/* ----------------- StopWatch ---------------- */
.stopWatchContainer{
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 100px;
  border-left: 5px solid rgb(119,5,51);
  border-right: 5px solid rgb(119,5,51);
  padding-top: 15px;
  text-align: center;
  position: relative;
  bottom: 54px;
}

.stopWatchScreen{
  margin-bottom: 10px;
   color: white;
   font-size: 28px;
   font-family: verdana;
}

